* {
    margin: 0;
    padding: 0;



}

body {
    font-family: Arial, sans-serif;
    background-image: url(images/bg2.avif);
    background-size: cover;
    background-position: center;

    overflow-x: hidden;

  
    
}




table {
    width: 100%;
    border-collapse: collapse;
    

}

td {
  
    border-bottom: 1px solid #000;
}

.menu-items{
    width:70%

}
.menu-price{
    width: 30%;
    text-align:start;
}

.cold-drink-items{
    background-color: #444546;

}
.hot-drink-items h4{
    color: #b1775f;
    
}
.hot-drink-items {
   
    
}

.main-items{
 background-color: #d8d3cf;

}

.breakfast-items{
    background-color: #b1775f;
 
}
.appetizer-items{
    /* padding: 50px; */
}

.breakfast-items p{
    color: #fff;
    opacity: 0.7;
}

.cold-drink-items p{
    color: #fff;
    opacity: 0.7;
}
